/*
 * Style for the body of the page 
 */
body {
  font-family: Arial, sans-serif;
}

/* 
 * Style for the banner bar
 */
.banner {
  background-color: #182e31;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
}

/* 
 * Image in the banner
 */
.banner img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/*
 * The tab pane (container) below the banner
 */
.tab-container {
  position: absolute;
  top: 120px;
  width: 100%;
  left: 0;
}

/*
 * Use flex-box for the tabs 
 */
.tab-buttons {
  display: flex;
  border-bottom: none;
}

/*
 * Tab buttons are rounded top, left-aligned text.
 * use a border to separate the tabs from the content 
 * pane. 
 */
.tab-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  background: lightgray;
  border: 2px solid blue;
  transition: all 0.2s ease;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/*
 * Also, change the cursor when the user hovers
 * over the button. 
 */
.tab-buttons button:hover {
  cursor: pointer;
}

/*
 * The currently active tab is highlighted by changing 
 * it's border bottom to none so it appears to be part 
 * of the content and changing its background color to 
 * white to match the content pane.
 */
.tab-buttons button.active {
  background: #fff;
  border-bottom: none;
  font-weight: bold;
  z-index: 2;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 2px solid blue;
  border-top: none;
  background: #fff;
}

.tab-content ul {
  border: thin solid gray;
}

.tab-content.active {
  display: block;
}

.filter {
  margin-left: 0;
}

.filter label {
  width: 200px;
  text-align: right;
}

.food-detail {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
  font-size: 0.9em;
}